<h1>Welcome user (pjabbour)</h1>


<aside><strong><%= link_to "My Orders", orders_url %></strong></aside>
<aside><strong><%= link_to "Eligible Seafood for BioValidation", species_url %></strong></aside>


<br>

<h2> Seafood fraud is rampant in the US!</h2>
    <li> Over $100 billion of seafood was sold in US in 2011</li>
    <li> 30 - 50% of seafood is falsely labeled</li>
    <li> The FDA fined distributers/retailers over $75 million in 2011 alone!</li>
</ul>

<br>

<br>

<p>
  
  With more than a third of seafood potentially mislabeled, 
  how is a consumer to know if they are being cheated? Don't get the bait and switch from your distributor.  Give your clients the Bioalidate seal of approval.
  
  </p>